aiohttp>=3.9.1
asyncio>=3.4.3
beautifulsoup4>=4.12.3
crawl4ai>=0.4.2
httpx>=0.26.0
logfire>=0.8.0
openai>=1.12.0
playwright>=1.41.2
pydantic>=2.6.1
pydantic-ai>=0.0.24
python-dotenv>=1.0.0
streamlit>=1.31.1
supabase>=2.3.1
qdrant_client>=1.13.3
pinecone>=6.0.2

